@font-face {
    font-family: 'cool';
    src: url('./fonts/COOLVETI.TTF')
}
body {
    background-color: #0d0f12;
    color: white;
    margin: auto;
    font-size: 15px;
    font-family: cool;
    font-weight: 200;
}

button {
    padding: 8px;
    outline: none;
    border: 0px;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}
input {
    font-size: inherit;
    font-family: inherit;
}